!!!
%html
%head
  %title FundoNoteApp
  :javascript
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }


  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")/
  = csrf_meta_tags

  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
  
  %body{:style => "background-color:#232020;"}
    .bg_color 
      %nav.navbar.navbar-inverse
        .container-fluid
          #mySidenav.sidenav
            %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
            = link_to notes_path do
              %i.glyphicon.glyphicon-file
              Notes
            = link_to notes_path do
              %i.material-icons add_alert
              Remender
            %hr
            = link_to notes_path do
              %i.material-icons archive
              Archive
            = link_to notes_path do
              %i.material-icons delete_sweep
              Trash
        #main
          
          
          %span{:onclick => "openNav()", :style => "font-size:25px;cursor:pointer;color:white;margin-top: 8px;margin-right: 10px;"} ☰
          %a.navbar-brand{:href => "#"} FUNDO NOTES APP

          - if user_signed_in?           
            %ul.nav.navbar-nav
              %li
                = link_to root_path do
                  %i.glyphicon.glyphicon-home
                  Home
              %li
                .form-group.has-search
                  %span.fa.fa-search.form-control-feedback
                  %input.form-control{:placeholder => "Search", :type => "text"}/

            
              %li
                = link_to new_note_path do
                  %i.glyphicon.glyphicon-file
                  New Note
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.glyphicon.glyphicon-log-out
                  Sign -out   
          - else
            %ul.nav.navbar-nav
              %li.active
                = link_to root_path do
                  %i.glyphicon.glyphicon-home
                  Home
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to new_user_session_path do
                  %i.glyphicon.glyphicon-log-in  
                  Sign in
                  

    %p.notice= notice
    %p.alert= alert


    =yield 





